.counter_container{
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: 50px;
}

.count{
    font-size: 3rem;
    margin: 20px 0;
}

.buttons button{
    margin: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.buttons button:nth-child(1){
    background-color: #f44336;
    color: white;
}

.buttons button:nth-child(2) {
    background-color: #f44336;
    color: white;
  }
  
  .buttons button:nth-child(3) {
    background-color: #008CBA;
    color: white;
  }